
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="main">
        <div class="naviagtion navmain">
            <div class="container">
                <ul>
                    <li>@Html.ActionLink("Soical Bloggers", "Posts", "Home")</li>
                    <li><a id="myProfile">My Profile</a></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    <li>@Html.ActionLink("AllUsers", "AllUsers", "Home")</li>
                </ul>
                <div style="margin-left:auto; margin-right:0" id="currentUser"></div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <div id="editModal" class="popup">
            <div class="popup-content">
                <div class="popup-header ">
                    <h4 class="modern-font modal-title">Edit Post</h4>
                </div>
                <div class="textbox-input">
                    <label for="title">Title: </label>
                    <input type="text" id="editTitle">
                </div>
                <div class="textbox-input">
                    <label for="content">Content: </label>
                    <textarea id="editContent" rows="3"></textarea>
                </div>
                <div class="popup-footer">
                    <button id="close" type="button">Close</button>
                    <button id="save" type="button">Save</button>
                </div>
            </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", required: false)

</body>

</html>
